body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.singleBookView {
  display: flex;
  justify-content: space-evenly;
}

.bookInformation {
  width: 500px;
}

.checkout {
  display: flex;
  justify-content: space-evenly;
}

.total {
  display: flex;
  justify-content: center;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navButton {
  color: white;
  padding-left: 5px;
  padding-right: 30px;
  text-decoration: none;
  border-right: 1px solid #bbb;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.logSubButton {
  background-color: #e7e7e7;
  color: black;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

select {
  font-size: 16px;
}

.adminDeleteButtons {
  background-color: #f44336; /* Red */
  border: 1px solid black;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 5px;
}

.adminEditButtons {
  background-color: #4caf50; /* Green */
  border: 1px solid black;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.allBooks {
  background-color: rgb(189, 189, 189);
  border: 2px solid black;
  padding: 30px 45px 45px 30px;
  display: flex;
  justify-content: space-around;
  width: auto;
  flex-wrap: wrap;
}

.singleBook {
  background-color: rgb(0, 73, 73);
  border: 2px solid black;
  padding: 30px 45px 45px 30px;
  /* display: flex; */
  width: 350px;
  border-radius: 8px;
  margin-bottom: 30px;
}

.bookImage {
  width: 350px;
  height: 550px;
}

.checkoutButton {
  background-color: #979797; /* Red */
  border: 1px solid black;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 5px;
}
